<style>



    .ngdialog-content{

        border: 5px solid #f7941e !important;

        border-radius: 0 !important;

        padding:25px 15px!important;

    }

    .mymodalimg .modal-lg{
        width: 860px !important;
    }

    .mymodalimg1 .modal-lg{
        width: 1300px !important;
    }



    .ngdialog-content p{

        font:13px/18px Arial,Helvetica,sans-serif;

    }

 body{background-image: url("../images/addimage-bg.jpg");  background-size: cover; background-position: center; background-attachment: fixed; }

</style>

<div class="addimage-body" style="background:none;">

  <div class="register_wrapper" style="margin-bottom:60px;">

    <div class="logo" > <a ui-sref="index"> <img  alt="#" src="images/logo_main.png" /> </a> </div>
    
       <div class="form-contain">
  
      <div class="left-img">   <img id="limg" src="images/bgimage5.png"  alt="#" style="width: 100%;" /></div>

  <div class="right-form" style="width:370px; float:right;">

    <div class="activities_contain">

      <h1 style="padding:4px 0 14px 0;"><img  alt="#" src="images/your-profile.jpg" id="addImageH" style="max-width:100%;"></h1>

      

      <p style="font-size: 12px;  color: #666666;" data-original-title="">Select photos for your profile and profile background.</p>

     

      <h4 style=" background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f7931e;
    float: left;
    font-family: veneerregular;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 12px;
    margin-top: 35px;
    padding-left: 0;
    width: 210px;">Add Profile Photo</h4>

        
<div style="clear:both"></div>
    <div class="imglist-div1">

        <div class="imglist">



<img ng-src="{{(profileImage != '')?profileImage:'images/default.jpg'}}" alt="#"  style="border: 1px solid #000;
    margin-left: 0;
    max-height: 156px;
    max-width: 142px;" >



</div>

<div class="img-btn-div" style="clear:both; overflow:hidden; position:inherit; bottom:0;">

<input type="button" value="+" class="upload-btn1 btnuptext" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">

    <img src="images/help.png" alt="#" class="help-icon" style="margin-top:-3px;">

    <div class="clear"></div>   

</div>



<div class="progress" ng-show="files[0].progress >= 0">

	<div style="width:{{files[0].progress}}%; background:#F69830;" ng-bind="files[0].progress + '%'"></div>

</div>



        <input class="imgBtnCls imgBtnCls2" style="margin-top: 10px; margin-bottom: 0;" type="button" value="Crop" ng-if="profileImage != ''" ng-click="cropProfileImg()">



        <input class="imgBtnCls imgBtnCls2" style="margin-top: 10px; margin-bottom: 0;" type="button" value="Delete" ng-if="profileImage != ''"  ng-click="profileImgDel(1)">



  </div>

    <div class="clear"></div>

       

     <h4 style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f7931e;
    float: left;
    font-family: veneerregular;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 0;
    width: 260px;">Add Background Photo</h4>    

       

       <div style="clear:both"></div>

       <div class="imglist-div2">

        <div class="imglist2">



<img name="" src="{{(profileBackImage != '')?profileBackImage:'images/defaultbg.jpg'}}" alt="#"  style=" border: 1px solid #000;
    margin-left: 0;
    max-height: 150px;
    max-width: 328px;">



</div>



  <div class="img-btn-div" style="clear:both; overflow:hidden; position:inherit; bottom:0;">

<input type="button" value="+" class="upload-btn2 btnuptext" ngf-drop ngf-select ng-model="files1" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">

      <img src="images/help.png" alt="#" class="help-icon" style="margin-top:-3px;">

    <div class="clear"></div>   

</div> 



<div class="progress" ng-show="files1[0].progress >= 0">

	<div style="width:{{files1[0].progress}}%; background:#F69830;" ng-bind="files1[0].progress + '%'"></div>

</div>



           <input class="imgBtnCls imgBtnCls2" style="margin-top: 10px; margin-bottom: 0;" type="button" value="Crop" ng-if="profileBackImage != ''" ng-click="cropProfileBackImg()">



           <input class="imgBtnCls imgBtnCls2" style="margin-top: 10px; margin-bottom: 0;" type="button" value="Delete" ng-if="profileBackImage != ''" ng-click="profileImgDel(2)">

             <div class="clear"></div>

       </div>

       

     

       

       <div  class="skipfinished" style="margin-top: 20px;">

<a href="javascript:void(0);" ng-click="signUpfinish()" id="pro-btn">FINISH AND GET STARTED</a>

</div>

    </div>
    
     </div>
       <div class="clear"></div>
      </div>

  </div>

 
</div>

 <div class="footer-menu1"> <span>&copy;TORQK'D</span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a> </span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a> </span> </div>


<script type="text/ng-template" id="mymodal">
    <div class="modal-header">
        <a class="close" ng-click="modalClose()">&times;</a>
        <h4>&nbsp;</h4>
    </div>
    <div class="modal-body">
        <img-cropped src="{{image}}" selected='selected(cords)'>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn btn-primary" ng-click="crop()" data-original-title="">Crop</a>
        <a href="javascript:void(0);" class="btn btn btn-primary" ng-click="modalClose()" data-original-title="">Close</a>
    </div>



</script>
<script type="text/ng-template" id="mymodal1">
    <div class="modal-header">
        <a class="close" ng-click="modalClose()">&times;</a>
        <h4>&nbsp;</h4>
    </div>
    <div class="modal-body">
        <img-cropped1 src="{{image1}}" selected1='selected1(cords)'>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn btn-primary" ng-click="crop1()" data-original-title="">Crop</a>
        <a href="javascript:void(0);" class="btn btn btn-primary" ng-click="modalClose()" data-original-title="">Close</a>
    </div>



</script>
