<div class="experience-body">

    <div class="experience-wrapper">

        <!--Top Contain[start]-->

        <div ng-include="'partials/header.html'"></div>

        <!--Top Contain[end]-->

        <div style="height: 500px; display: block;">
            <div style="width: 100%; text-align: center; padding: 10px 0px;" class="viewMore">
                <img width="118" height="9" src="images/loading_list.gif">
            </div>
            <div ng-repeat="item in imgpaths" style="display: none;">
                {{item.path}}
                <img src="{{item.path}}">
            </div>
        </div>


        <div class="clear"></div>

    </div>

</div>
