<style>



    .ngdialog-content{

        border: 5px solid #f7941e !important;

        border-radius: 0 !important;

        padding:25px 15px!important;

    }



    .ngdialog-content p{

        font:13px/18px Arial,Helvetica,sans-serif;

    }

 body{background-image: url("../images/jumper_sign.jpg");  background-size: cover; background-position: center; background-attachment: fixed; }
 
 .activities-submit{ text-shadow:0 1px 2px #fff;}

</style>



<div class="connect-body" style="background:none;">

  <div class="register_wrapper">

    <div class="logo" > <a ui-sref="index"> <img  alt="#" src="images/logo_main.png" /> </a> </div>
    
    
         <div class="form-contain">

    
    <div class="left-img">



              <img id="limg" src="images/bgimage3.png"  alt="#" style="width: 100%;" /></div>
    

        <div class="right-form">


    <div class="activities_contain">

      <h1 style="margin:0; padding:4px 0 14px 0;"><img  alt="#" src="images/ctop.jpg" id="connectH"></h1>

      

      <p style="font-size:12px;" data-original-title="">Click on the profile pictures to connect with other outdoor sports enthusiasts.</p>

      

     <div class="top-text"> <h4 style="color:#f8931f; margin: 10px auto;  font-family: reservation; font-size: 13px; font-weight: normal; font-style: normal; ">

<span id="friend-count" style="color:##f8931f;">{{count}}</span>

Friendship requested

</h4>

</div>

        

    <div class="connect-img">

		<a href="javascript:void(0)" ng-click="selectUser(n.id); actClass = !actClass" ng-class="actClass ? 'active-pic' : ''" ng-repeat="n in userList" >

			<img alt="#" src="{{baseUrl}}/uploads/user_image/thumb/{{n.image}}">

		</a>



<div class="clear"></div>

     

     </div>   

     <input  class="activities-submit" type="button" ng-click="next_c()" value="next step" >     



       <div class="skip connectskip" style="width:100px; float:none; margin-top:30px;">

<a href="javascript:void(0);" ng-click="skip()"  style="width:100%;">SKIP »</a>

</div> 

    </div>
    
     </div>
     
      <div class="clear"></div>

  </div>

  
  </div>

</div>

<div class="footer-menu1"> <span>&copy;TORQK'D</span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a> </span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a> </span> </div>