<style>

.ngdialog-content {
	border: 5px solid #f7941e !important;
	border-radius: 0 !important;
	padding:25px 15px!important;
}
.ngdialog-content p {
	font:13px/18px Arial, Helvetica, sans-serif;
}
body {
	background-image: url("../images/jumper_sign.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.activities-submit {

	text-shadow:0 1px 2px #fff;

}

.connect_blogdiv {

	float: left;

	margin: 0 10px 8px 0;

	width: 105px;

	border: 4px solid #ebebeb;

}

.connect_blogdiv:hover {

	border: 4px solid #f8931f;

	box-shadow: 0 0 5px #888;

}

.active-pic {

	border: 4px solid #f8931f;

	box-shadow: 0 0 5px #888;

}

.connect_blogdiv a {

	display:block;

}

.connect_imgdiv {

	width:100%;

	display:block;

	height: 110px;

	overflow: hidden;

}

.connect_imgdiv img {

	width:100%;

}

.connect_textdiv {

	background: #f5f5f5 none repeat scroll 0 0;

	border: 1px solid #d1d1d1;

	font-size: 12px !important;

	line-height: 18px;

	padding: 4px;

	height: 52px;

	word-wrap: break-word;

	overflow: hidden;

}

.connect_textdiv span {

	color:#f7931e;

	font-weight:bold;

	padding:0!important;

	font-size:12px!important;

}

.tooltip.customTooltip .tooltip-inner {

	color: #fff!important;

	background-color: #d87b10;

	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

	width:200px;

	max-width:200px;

}

.tooltip.customTooltip .tooltip-arrow {

	border-bottom-color : #d87b10 !important;

}

.tooltip.customTooltip .tooltip-inner h2 {

	font-size:22px;

	font-weight:normal!important;

	font-family: "veneerregular";

	margin:0!important;

	padding: 0!important;

}

.tooltip.customTooltip .tooltip-inner p {

	font-size:14px;

	color: #fff!important;

	margin:0!important;

	padding:0!important;

	line-height:18px;

}

.form-contain .right-form input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {

	background: #fff!important;

	border: 2px solid #ccc !important;

	border-radius: 4px !important;

	float: none;

	height: 34px !important;

	padding: 0 5px;

	width: 99% !important;

	color:#717171!important;

}

 input::-webkit-input-placeholder {

color:#717171 !important;

opacity: 1 !important;

}

 input:-moz-placeholder {

color:#717171 !important;

opacity: 1 !important;

}

 input::-moz-placeholder {

color:#717171 !important;

opacity: 1 !important;

}

 input:-ms-input-placeholder {

color:#717171 !important;

opacity: 1 !important;

}

tags-input .tags {

	margin-left:-2px!important;

}

#select-search option:hover {

	background:#f8931f;

	color:#fff;

}



#select-search option:hover,

#select-search option:focus,

#select-search option:active,

#select-search option:checked {

    /*background: linear-gradient(#5A2569, #5A2569);*/

    background:linear-gradient(#f8931f, #f8931f);

    color:#fff;

}




</style>

<div id="loaderDiv" ng-show='stateIsLoading'></div>



<div class="connect-body" style="background:none;">

    <div class="register_wrapper">

        <div class="logo" >

            <a ui-sref="index">

                <img  alt="" src="images/logo_main.png" />

            </a>

        </div>



        <div class="form-contain">

            <div class="left-img">

                <img id="limg" src="images/bgimage3.png"  alt="" style="width: 100%;" />

            </div>



            <div class="right-form" style="margin-bottom:35px;">

                <div class="activities_contain">

                    <h1 style="margin:0; padding:4px 0 14px 0;">

                        <img  alt="" src="images/ctop.jpg" id="connectH">

                    </h1>



                    <p style="font-size:12px;" data-original-title="">Click on the profile pictures to connect with other outdoor sports enthusiasts.</p>



                </div>

            </div>



          



            <div class="right-form" style="width:100%; float:none;">

                <div class="activities_contain" style="width:100%;">

                    <div class="top-text">

                        <h4 style="color:#f8931f; margin: 10px auto;  font-family: reservation; font-size: 13px; font-weight: normal; font-style: normal; ">

                            <span id="friend-count" style="color:##f8931f;">{{count}}</span>Friendship requested

                        </h4>

                    </div>

                    <div ng-show="tabBodyLoad" class="viewMore" style="width:100%; text-align:center; padding:10px 0;">

                        <img src="images/loading_list.gif" />

                    </div>

                    <div class="connect-img2" ng-show="!tabBodyLoad">

                        <!--<div ng-repeat="n in userList | filter:searchText" class="connect_blogdiv" ng-click="selectUser(n.id); actClass = !actClass"  ng-class="actClass ? 'active-pic' : ''">-->

                        <div ng-repeat="n in userList | filter:search | limitTo: limit" class="connect_blogdiv" ng-click="selectUser(n.id); actClass = !actClass"  ng-class="actClass ? 'active-pic' : ''">

                            <div class="connect_imgdiv" >

                                <a href="javascript:void(0)"  >

                                    <img alt="" src="images/checkered.png" lazy-img="{{baseUrl}}/uploads/user_image/thumb/{{n.image}}">

                                </a>

                            </div>

                            <div class="connect_textdiv">

                                <a uib-tooltip-html="tooltipVal(n)" tooltip-class="customTooltip" tooltip-placement="bottom">

                                    <span>{{ n.user_name | limitTo: 30 }}{{n.user_name.length > 30 ? '...' : ''}}</span><br />

                                    {{ n.user_address_lim | limitTo: 28 }}

                                </a>

                            </div>

                        </div>

                        <div class="clear"></div>

                    </div>



                    <div class="skip" style="letter-spacing: 1px;">

                        <a href="javascript:void(0)" style="color: #f8931f!important;" ng-show="((userList | filter:search).length) > limit" ng-click="loadmore()">Load More</a>

                    </div>



                    <input type="button" ng-click="showadvsearchfun()" value="Advanced Search" class="activities-submit">



                    <input  class="activities-submit" type="button" ng-click="next_c()" value="next step" >
                    
                      <!--  <div class="skip connectskip" style="width:100px; float:none; margin-top:15px; display: inline-block;"> <a href="javascript:void(0);" ng-click="skip()"  style="width:100%;">SKIP »</a> </div>-->



                    <div class="search-new connectslide" ng-show="showadvsearch==1">

                        <div style="float: none; width:100%; margin-bottom:20px;">

                            <!--<label style="display: block; padding-bottom:4px; width: 100%; float:none; font-weight:normal; color:#333;">Search By Name :</label> -->

                            <input type="text" ng-model="search_user_name" ng-change="limit=20" placeholder="SEARCH BY NAME" style=" color: #717171 !important;  background: #fff!important; border: 2px solid #97989a  !important; border-radius: 4px !important; height: 38px !important; width: 97% !important; float:none; padding:0 4px!important; font-size:13px!important;">

                            <div class="clear"></div>

                        </div>



                        <div style="float: none; width:100%; margin-bottom:20px;">

                            <!--<label style="display: block; padding-bottom:4px; width: 100%; float:none; font-weight:normal; color:#333;"> Search By Country : </label>-->

                            <select id="select-search-country"  ng-model="search_user_country" ng-change="limit=20;changeCountry(search_user_country)" style=" color: #717171 !important;  background: #fff!important; border: 2px solid #97989a  !important; border-radius: 4px !important; height: 42px !important; width: 100% !important; float:none; padding:0 0px; font-size:13px!important;">

                                <option value="" >SEARCH BY COUNTRY</option>

                                <option ng-repeat="item in countrylist  track by item.id" value="{{item.id}}" ng-selected="item.id == defCountry">{{item.name}}</option>

                            </select>

                            <div class="clear"></div>

                        </div>

                        <div style="float: none; width:100%; margin-bottom:20px;">

                            <!--  <label style="display: block; padding-bottom:4px; width: 100%; float:none; font-weight:normal; color:#333;"> Search By State : </label>-->

                            <select id="select-search-state select-search"  ng-change="limit=20" ng-model="search_user_state"  style=" color: #717171 !important;  background: #fff!important; border: 2px solid #97989a  !important; border-radius: 4px !important; height: 42px !important; width: 100% !important; float:none; padding:0 0px; font-size:13px!important;">

                                <option value="" selected="selected" >SEARCH BY STATE / PROVINCE</option>

                                <option ng-repeat="item in statelist track by item.id" value="{{item.id}}" ng-selected="item.id == defState">{{item.name}}</option>

                            </select>



                            <div class="clear"></div>

                        </div>

                        <div style="float: none; width:auto; margin-bottom:5px; background: #fff; border: 2px solid #97989a; border-radius: 4px !important; color: #717171 !important; float: none; font-size: 13px !important; height: 38px !important; padding: 0 5px; cursor: pointer; line-height: 42px; " ng-click="showsportarea = 1">SELECT SPORTS</div>


                        <!--<div ng-show="showsportarea" style="text-transform: uppercase;">Hold down CRTL and click to multiple select sports.</div>-->

                        <div style="float: none; width:100%; margin-bottom:20px; margin-top: 5px;" ng-show="showsportarea">

                            <!--  <label style="display: block; padding-bottom:4px; width: 100%; float:none; font-weight:normal; color:#333;">Search By Sport :</label>-->

                            <!--<tags-input add-from-autocomplete-only="true" replace-spaces-with-dashes="false" placeholder="Search By Sports" ng-model="search_user_sports" on-tag-added="sp_tag_add()" on-tag-removed="sp_tag_add()">

                            <auto-complete source="loadSports($query)" min-length="1"></auto-complete>

                            </tags-input>-->

                            <!--<select id="select-search"  ng-model="search_user_sports" multiple="multiple" style="  background: #fff!important; border: 2px solid #97989a  !important; border-radius: 4px !important;  height: 117px !important; width: 100% !important; float:none; padding:0 0px; font-size:14px!important;">

                            <option value="" disabled="disabled" style="font-size:13px!important; color: #717171 !important; ">SELECT SPORT</option>

                            </select>-->



                            <div class="sports-table" style="background: #fff none repeat scroll 0 0; border: 2px solid #97989a; border-radius: 4px !important; padding: 10px;">
                                <div ng-repeat="n in sportsList">
                                    <h3 style=" padding-bottom: 5px!important; color: #f8931f; "> {{n.name}}</h3>
                                <div style=" padding-bottom: 20px;">
                                    <div ng-repeat="m in n.ch" style="float: left; width: 30%;">
                                        <input type="checkbox" id="sportscheck{{m.id}}" class="sportscheck" name="sportscheck[]" ng-click="sp_tag_add(m.id)"><strong style="font-size: 13px!important;"> {{m.name}}</strong>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                    <div class="clear"></div>
                                </div>
                            </div>



                            <div class="clear"></div>

                        </div>



                        <div style="float: none; width:100%; margin-bottom:10px;">

                            <input class="activities-submit" type="button" value="RESET" ng-click="resetsearch();showadvsearchfun()">

                        </div>



                        <div class="clear"></div>



                    </div>



                    <div class="skip connectskip" style="width:100px; float:none; margin-top:30px;"> <a href="javascript:void(0);" ng-click="skip()"  style="width:100%;">SKIP »</a> </div>



                </div>

            </div>

            <div class="clear"></div>

        </div>

    </div>

</div>



<div class="footer-menu1">

    <span>&copy;TORKQ</span>

    <span>|</span>

    <span>

        <a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>

    </span>

    <span>|</span>

    <span>

        <a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>

    </span>

</div>

