<style type="text/css">
    .ngdialog-content{ background-color: #f6f9fa !important;
        border: 5px solid #f7941e !important;
        border-radius: 0 !important; padding:0!important; width:99%; margin:0 auto!important;}

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
        margin:0 15px;
    }
    .ngdialog-content h2{
        margin-left:15px;
        margin-right:15px;
    }

</style>

<div class="experience-body">
    <div class="experience-wrapper">
        <!--Top Contain-->
        <div class="top-contain">
            <div>
                <div class="logo">
                    <a ui-sref="index" ng-if="(sessUser==0)"> <img alt="#" src="images/logo_main.png"/> </a>
                    <a ui-sref="profile({userId:sessUser})" ng-if="(sessUser!=0)" > <img alt="#" src="images/logo_main.png"/> </a>
                    <div class="top-menu" style="width:230px">

                        <ul id="menu">
                            <li ng-if="(sessUser!=0)"><a ui-sref="profile({userId:sessUser})" style="color:#F7931D;"  onMouseOver="this.style.color='#5a5b5d'" onMouseOut="this.style.color='#F7931D'">Profile</a></li>
                            <li><a href="#">Sports</a>
                                <ul class="sub-menu">

                                </ul>
                            </li>
                            <li ng-if="(sessUser!=0)"><a ui-sref="logout" style="color:#5A5B5D;"  onMouseOver="this.style.color='#F7931D'" onMouseOut="this.style.color='#5A5B5D'">Logout</a></li>
                            <li ng-if="(sessUser!=0)"><a ui-sref="logout"><img src="images/gear.png"  alt="#" /></a></li>
                            <li ng-if="(sessUser==0)"><a ui-sref="login" style="color:#5A5B5D;"  onMouseOver="this.style.color='#F7931D'" onMouseOut="this.style.color='#5A5B5D'">Login</a></li>
                        </ul>
                        <div class="join-btn" ng-if="(sessUser==0)"><a ui-sref="signup" >JOIN</a></div>
                    </div>

            <div class="clear"></div>

            <h1 style="padding:28px 0 0px 16px; width:313px; margin:0; "><img src="images/experience_hdr.png"  alt="#" /></h1>

        </div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--Top Contain-->
    </div>
</div>

