<style>



.ngdialog-content{

    border: 5px solid #f7941e !important;

    border-radius: 0 !important;

    padding:25px 15px!important;

}



.ngdialog-content p{

    font:13px/18px Arial,Helvetica,sans-serif;

}


 body{background-image: url("../images/base_camp.jpg")!important;  background-size: cover; background-position: center; background-attachment: fixed; }
 .UserManager_inputl {
    background: #fff none repeat scroll 0 0 !important;
    border: 2px solid #97989a !important;
    border-radius: 5px !important;
    color: #888 !important;
    font-size: 13px !important;
    height: 33px !important;
    margin-bottom: 8px;
    padding: 4px !important;
    width: 77% !important;
}
 
 
 .form-horizontal .control-label {
    margin: 0 auto!important;
    padding-top: 5px!important;
    text-align: left!important;
    width: 77%!important;
}
</style>



<div class="login-body">



    <div class="login-top">





        <div class="login-wrapper">    <div class="logo" style="padding:10px 0;" > <a ui-sref="index"> <img  src="images/logo_main.png" alt="#"/>   </a> </div></div>







    </div>











    <div class="clear"></div>



    <div class="login-wrapper">



        <div class="login-box" style="padding-top: 10px;">



            <div id="main">



                <div id="content">



                    <h3 style="text-align: left;

font-size: 30px;

color: rgb(247, 147, 29);

margin-bottom: 20px;

margin-left: 30px !important; font-family: veneerregular; font-weight: normal; margin-top: 28px;">RESET PASSWORD</h3>



                    <p style="width:86%; margin:0 auto; padding:4px 0 20px 20px; color: #333;">Enter your email address to reset your password.</p>







                    <form angular-validator-submit="submitloginForm()" name="loginForm" class="form-horizontal" novalidate angular-validator>

                        <label class="has-error" ng-show="msgFlag">This email does not exist.</label>

                        <div class="form-group">

                            <div class="col-sm-10" style="width:100%; padding:0;">

                                <input type="email" id="UserManager_email" name="email" placeholder="EMAIL"

                                       validate-on="blur"

                                       class = "form-control UserLogIn_email UserManager_inputl"

                                       ng-model = "form.email"

                                       required-message="'Email cannot be blank.'"

                                       invalid-message="'Enter valid email address.'"

                                       required>

                            </div>

                        </div>



                        <button  class="loginbtnmain"  type="submit" style="width:94px; margin:25px 0 20px 24px; font-size:16px;">Submit</button>

                    </form>





                    </div>







                </div>



            </div>







        </div>



    </div>



</div>