<style>

    .ngdialog-content{ background-color: #f6f9fa !important;
        border: 5px solid #f7941e !important;
        border-radius: 0 !important; padding:0!important; width:99%; margin:0 auto!important;}

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
        margin:0 15px;
    }
    .ngdialog-content h2{
        margin-left:15px;
        margin-right:15px;
    }


    .newPopup .ngdialog-content{
	animation:0.5s ease 0s normal none 1 running ngdialog-flyin;

	position:relative !important;
	margin:0 auto !important;
	width:291px !important;
	height:189px !important;
        border: none !important;
		background: url({{baseUrl}}/torqkd_demo/images/hover_mobile.png) no-repeat !important;

}
</style>
<div class="community">
{{currentState}}
	<h4 ng-show="isConnection">Community</h4>
	<h4 ng-hide="isConnection">Friends</h4>
	<br /><br />
	<div ng-show="isConnection" class="left-text">Below are individuals that participate in the Torqkd community. To view the sports they follow, place your mouse on their image. Click "connect" to initate a friendship request. </div>
	<div ng-hide="isConnection" class="left-text">Below are all of your Torqkd friends. To remove a friendship connection, place your mouse over the friend's profile picture and click "remove" on the pop-up window. </div>

	<div class="right-text">
		<img  src="{{user_image}}" style="float: left;">
		<p> <strong>Pending Friendship</strong><br/>Orange border indicates a pending friendship request</p>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<a ui-sref="profile({userId:userId})" class="back"> Back</a>
	<div class="search-new">
		<div style="float: left">
			<label>Search By Name :</label> <input type="text" ng-model="searchText.user_name">
			<div class="clear"></div>
		</div>
		<div style="float: right">
			<label> Search By Sports :    </label>
			<select id="select-search"  ng-model="searchText.spList">
			<option value="" selected="selected">SELECT ONE</option>
		</select>
			<div class="clear"></div>

		</div>
		<div class="clear"></div>
	</div>
	<div class="bottom-img">
		<div class="img-con myParent"  ng-repeat="item in frnddet | filter:searchText" ng-mouseenter="showunFrndDiv = true" ng-mouseleave="showunFrndDiv = false">
			<div  style="width: 77px; height: 77px; display: table-cell; text-align: center; vertical-align: middle;">
				<img ng-class="(item.status == 1 || item.frnd_type == 1 || item.frnd_type == 2)?'fr_request':''" src="{{item.user_image}}">
			</div>

			<div class="hover_img4" ng-show="showunFrndDiv" style="background: url(../images/hover_div1.png) no-repeat; display: block;">
				<button class="close">&times;</button>
				<ul>
					<li style="width:98px; float: left;  display:block;" class="mobpimg">
						<a ui-sref="profile({userId:item.id})"><img src="{{item.user_image}}" style="max-height:100%; max-width:100%;"  alt="" /></a>
					</li>
					<li style="margin-left:0px; width:162px; float: right; display:block;" class="holist2">
						<a class="uname222" ui-sref="profile({userId:item.id})" style="width: 100px;">{{item.user_name}}</a>
						<div class="clear"></div>
						<img ng-repeat="item1 in item.sports | limitTo:6" src="{{item1.imag_name}}" width="25"  alt="" />
						<div class="plno" ng-if="item.sports.length > 6">+{{item.sports.length-6}}</div>
						<div class="clear"></div>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 0 && (item.frnd_type == 1 || item.frnd_type == 2)" ng-click="cancel_request(item.frnd_rel_id,$index)"> Cancel Request</a>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 0 && item.frnd_type == 4" ui-sref="profile({userId:item.id})"> View Profile</a>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 1 && item.frnd_type == 0" ng-click="add_friend(item.id,$index)"> Connect +</a>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 1 && item.frnd_type == 1" ng-click="cancel_request1(item.frnd_rel_id,$index)"> Cancel Request</a>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 1 && item.frnd_type == 2" ng-click="accept_request(item.frnd_rel_id,$index)"> Accept</a>
						<a  class="view-btn1" href="javascript:void(0);" ng-if="isConnection == 1 && item.frnd_type == 4"> Friend</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>