<div ng-if="isProfile" class="groupTab">

    <input type="button" value="COMMUNITY GROUPS" ng-click="sugGroup()" class="ajuxcss" style="background: #f7931e !important; padding-top: 4px; width: 196px!important; height: 44px; cursor: pointer; display: block; font-family: 'veneerregular'!important; color: #414142; font-size: 24px; border: solid 4px #fff; margin: 10px 0; box-shadow: none; text-align: center; box-shadow: 0px 0px 2px #888888; margin-top:20px;">

    <input type="button" value="FRIENDS GROUPS" ng-click="locGroup()" class="ajuxcss" style="background: #f7931e !important; padding-top: 4px; width: 196px!important; height: 44px; cursor: pointer; display: block; font-family: 'veneerregular'!important; color: #414142; font-size: 24px; border: solid 4px #fff; margin: 10px 0; box-shadow: none; box-shadow: 0px 0px 2px #888888; text-align: center; margin-top:20px;">

</div>

<div ng-if="isExp" class="groupTab">

    <input type="button" value="SUGGESTED GROUPS" ng-click="sugGroup()" class="ajuxcss" style="background: #f7931e !important; padding-top: 4px; width: 196px!important; height: 44px; cursor: pointer; display: block; font-family: 'veneerregular'!important; color: #414142; font-size: 24px; border: solid 4px #fff; margin: 10px 0; box-shadow: 0px 0px 2px #888888; text-align: center; margin-top:20px;">

    <input type="button" value="LOCAL GROUPS" ng-click="locGroup()" class="ajuxcss" style="background: #f7931e !important; padding-top: 4px; width: 196px!important; height: 44px; cursor: pointer; display: block; font-family: 'veneerregular'!important; color: #414142; font-size: 24px; border: solid 4px #fff; margin: 10px 0; box-shadow: 0px 0px 2px #888888; text-align: center; margin-top:20px; ">

</div>

<div style="clear: both;"></div>



<div class="groups-body" ng-repeat="item in groupList track by item.id">

	<div class="left-img" style="width:50px; float:left; margin-left: 11px;">

		<img src="{{item.image}}"    style="margin:-4px 0 0 0;  max-width:50px;max-height:50px;" />

	</div>

	<div class="righttext1">

		<h1 class="h1text">{{item.name}}</h1>

		<div class="sttext">

			<strong > <span> {{item.time}} </span><br>{{(item.type==1)?"Public":"Private"}} Group / {{item.member}} member{{(item.member > 1)?'s':''}}</strong>

		</div>

		<div style="clear: both;"></div>

		<div class="destext1">

			<div style="clear: both;"></div>

			<p style="width:70%;">{{item.description}} </p></div>

		<a class="viewgrp" style="background: none; border: none; color: #4f5052!important; padding: 0px; box-shadow: none; margin-bottom: 10px !important;" ui-sref="groupdetail({groupId:item.id})">View Group</a>

	</div>

	<div class="clear"></div>

</div>



<span class="empty" ng-hide="groupList.length">No results found.</span>

