<style>

    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important;
        padding:25px 15px!important;
    }

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
    }

</style>
<div class="intro-body">
  <div class="intro-contain">
    <div class="logo" > <a ui-sref="index"> <img  src="images/logo_main.png" alt="#"/>   </a> </div>
    <div class="video-contain" data-original-title=""> <a  href="" ng-click="openDefault()" ><img src="images/howitworks_3.jpg" alt="#"/></a> </div>
    <div class="link-contain" data-original-title="">
      <ul>
        <li><a ui-sref="experience">The Experience</a> </li>
        <li><a ui-sref="signup">Join</a> </li>
        <li><a ui-sref="login">Login</a> </li>
        <!--<li><a href="http://torqkd.com/getAllFiles" >Get File</a> </li>-->
      </ul>
    </div>
    
    <div class="text-contain" data-original-title=""> Torqk'd brings the consciousness of outdoor sports to a new, progressive social media realm. Torqk'd is a collective of runners, jumpers, climbers, riders, hikers, surfers and all who dare to smack the terrain from land, sky, powder and H2O. Now go get it!! Time to connect, track and explore. </div>
  </div>
</div>

<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message">
        <div class="video-container"><iframe src="https://www.youtube.com/embed/kkUZRGrF9Ig?rel=0&autoplay=0" frameborder="0" allowfullscreen></iframe></div>
    </div>
</script>
