
<div class="intro-body">
  <div class="intro-contain">
    <div class="logo" > <a ui-sref="index"> <img  src="images/logo_main.png" height="69" width="224" alt=""/>   </a> </div>
    <div class="video-contain" data-original-title=""> <a  href="" ng-click="openDefault()" ><img src="images/howitworks_3.jpg" width="247" height="106" alt=""/></a> </div>
    <div class="link-contain" data-original-title="">
      <ul>
        <li><a ui-sref="experience">The Experience</a> </li>
        <li><a ui-sref="signup">Join</a> </li>
        <li><a ui-sref="login">Login</a> </li>
        <!--<li><a href="http://torqkd.com/getAllFiles" >Get File</a> </li>-->
      </ul>
    </div>
    
    <div class="text-contain" data-original-title=""> Torkq brings the consciousness of outdoor sports to a new, progressive social media realm. Torkq is a collective of runners, jumpers, climbers, riders, hikers, surfers and all who dare to smack the terrain from land, sky, powder and H2O. Now go get it!! Time to connect, track and explore. </div>
  </div>
</div>

<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message">
        <div class="video-container" style="padding-top: 0; border:5px solid #f7941e !important; background-color: #000;">
          <!--<iframe src="https://www.youtube.com/embed/kkUZRGrF9Ig?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>-->
          <video width="100%" autoplay loop controls>
            <source src="videoss/Torkq_LR_061416.mp4" type="video/mp4">
          </video>
        </div>
    </div>
</script>
