<!--<style>
label.has-error{
	color: #f8931f !important;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 84% !important;
    display: block;
    margin: 0px auto !important;
    padding: 0 !important;
    text-align: left !important;
    font-weight: normal !important;
}
.form-group{
	margin:0 !important;
	width:100% !important;
}
</style>-->
<style>

    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important;
        padding:25px 15px!important;
    }

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
    }


    body{background-image: url("../images/base_camp.jpg");  background-size: cover; background-position: center; background-attachment: fixed; }
	
	.control-label {width:80%; display:block; margin:0 auto; }
	
	.form-horizontal .control-group {
    margin-bottom: 10px!important;
}

.UserManager_inputl{ width:78%!important; height: 38px!important;}


.login-box .loginbtnmain{ width:84%!important; font-size:24px!important;}

.form-horizontal .control-label {
  
    padding-top: 4px;
	width:78%; margin:0 auto; padding-bottom:5px;
}

.form-group {
    margin-bottom: 0!important;
    height: 64px!important;
    overflow: hidden!important;
}

</style>

<div class="login-body">
  <div class="login-top">
     <div class="login-wrapper">    <div class="logo" style="padding:10px 0;" > <a ui-sref="index"> <img  src="images/logo_main.png" alt="#"/>   </a> </div></div>
  </div>

<div class="login-wrapper">
<div class="login-box">
  <form angular-validator-submit="submitloginForm()" name="loginForm" class="form-horizontal" novalidate angular-validator> 
		<label class="has-error" ng-show="msgFlag" style="width:86%; display:block; margin:0 auto; padding:0 0 10px 0;">Incorrect Login Information..</label>
        <div class="form-group">
			<div class="col-sm-12" style="width:100%; padding:0;">
				<input type="email" id="UserManager_email"   class="UserManager_inputl" name="email" placeholder="EMAIL"
						validate-on="blur"
                        class = "form-control UserLogIn_email"
                        ng-model = "form.email"
                        required-message="'Email cannot be blank.'"
						invalid-message="'Enter valid email address.'"
                        required>
			</div>
		</div>
        <div class="form-group">
			<div class="col-sm-12" style="width:100%; padding:0;">
				<input type="password" style="height: 37px!important; width:78%!important; margin:0 auto!important; background-color: #fff!important;" id="UserManager_password" class="UserManager_input2" name="UserManager[password]" placeholder="PASSWORD"
						validate-on="dirty"
                        class = "form-control UserLogIn_password"
                        ng-model = "form.password"
                        required-message="'Password cannot be blank.'"
                        required>
			</div>
		</div>

   <div class="remember-div" style="margin-top:0; margin-left:32px">
<input id="remember_me" type="checkbox" value="1" name="remember" ng-model="form.remember" >
<span data-original-title="">Remember Me</span>
<div class="clear"></div>
  </div>
						
<button  class="loginbtnmain"  type="submit">LogIn</button>
		</form>
    <div style="width:84%; margin:0 auto;">
<a ui-sref="signup" class="link1" style="float:left; display:block; width:110px; margin-right:0px; margin-top: 0px;">Register for an Account</a>
<a ui-sref="forgotpassword" class="link2" style="float:right; display:block; width:82px; padding-right:0; margin-right:0; margin-top: 0px;">Forgot Password?</a>
<div class="clear"></div>
</div>

		</div>

</div>





</div>
