<style>

    
 body{background-image: url("../images/climber_sign.jpg");  background-size: cover; background-position: center; background-attachment: fixed; }


.activities-submit{ text-shadow:0 1px 2px #fff;}

    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important;
        padding:25px 15px!important;
    }
    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
    }

.see-btn2{ padding:0 0 5px 10px!important;}
</style>

<div class="next-body" style="background:none;">
  <div class="register_wrapper">
    <div class="logo" > <a ui-sref="index"> <img  alt="#" src="images/logo_main.png" /> </a> </div>

    <div class="form-contain">
  
      <div class="left-img">   <img id="limg" src="images/bgimage4.png"  alt="#" style="width: 100%;" /></div>
  
    <div class="right-form">
    <div class="activities_contain">
          <h1 style="margin:0; padding:3px 0 13px 0;"><img  alt="#" src="images/invitefrds.jpg" id="nextH" style="max-width:100%;"></h1>
     
    <div class="inviteFriends"> 
	<form angular-validator-submit="sendEmail()" name="sendEmailForm" class="form-horizontal" novalidate angular-validator>
   
    <h4 style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(81, 91, 93);
    font-family: veneerregular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 14px;
    margin-top: 18px;
    padding-left: 0;">Enter Your Friends' Email Addresses</h4>
	<div style="overflow:hidden;">
    
    <textarea id="friend_emails" style=" background: #ffffff!important;
    border: 2px solid #97989a!important;
    border-radius: 5px!important;
    font-family: Helvetica,Arial,sans-serif!important;
    font-size: 14px!important;
    height: 120px!important;
    margin-bottom: 20px!important;
    margin-top: 0px!important;
    padding: 6px !important; width:100%!important;  height: 52px !important;" name="senderList" placeholder="ADD EMAIL ADDRESSES SEPARATED BY COMMAS"

						validate-on="sub"

                        class = "form-control"

                        ng-model = "form.senderList"

                        required-message="'Please Enter Sender Email.'"

                        required></textarea> 
    </div>
	<h5 style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(81, 91, 93);
    font-family: veneerregular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 12px;
    margin-top: 14px;
    padding-left: 0;">Email Message</h5>
    <textarea id="email_text" style="border: 2px solid #97989a;
    border-radius: 5px;
    color: #888;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px !important;
    height:106px !important;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 6px !important; background: #ffffff!important; width:100%!important;"  name="mailBody"

						validate-on="sub"

                        class = "form-control"

                        ng-model = "form.mailBody"

                        required-message="'Please Enter Mail Body.'"

                        required></textarea>
    <input class="see-btn2" type="submit" value="STEP 1"  style="margin-top:10px;">
	</form>
      
      <div style="clear:both;"></div>
      
    <h6 id="inviteDiv" style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(81, 91, 93);
    font-family: veneerregular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top:27px;
    padding-left: 0;">INVITE FRIENDS VIA YOUR ONLINE ADDRESS BOOK</h6>
      
    <select id="social_select" ng-model="social_select" style=" background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    height: 35px;
    margin: 0 0 20px;
    padding: 5px 0;
    width: 100%!important; color: #555 !important;">

		<option value="" data-original-title="">SELECT SERVICE</option>

		<option value="fb" data-original-title="">FACEBOOK</option>

	</select>


<input class="see-btn2" type="button" value="STEP 2" ng-click="social_share()" name="inviter_submit" data-original-title="">
<div style="clear:both;"></div>

     <input  class="activities-submit" style="margin-top: 20px;" type="button" ng-click="next_n()" value="next step" >
      
      </div>


    </div>
    
    </div>
    
      <div class="clear"></div>
      </div>
    
  </div>
  
</div>
<div class="footer-menu1"> <span>&copy;TORQK'D</span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('terms')" >TERMS </a> </span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a> </span> </div>
