<style>
.ngdialog-content {
	border: 5px solid #f7941e !important;
	border-radius: 0 !important;
	padding:25px 15px!important;
}
.confirmPopup .ngdialog-content {
	position:relative;
	margin:0 auto;
	width:80%;
	padding:3px 12px;
	animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
}
.ngdialog-content p {
	font:13px/18px Arial, Helvetica, sans-serif;
}
.youtubePopup .ngdialog-content {
	position:relative;
	margin:0 auto;
	width:80%;
	padding:3px 12px;
	animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
}
</style>
<div class="experience-body" style="margin-top: 0px;">
  <div class="experience-wrapper">
    <!--Top Contain[start]-->
    <div ng-include="'partials/header.html'"></div>
    <!--Top Contain[end]-->
    <!--Profile Banner Area[start]-->
    <div class="top-banner-contain">
      <div class="user-contain">
        <div class="img-contain cngcondiv"><img src="{{userDet.profileImg}}"  alt="#" />
          <div class="pic cnghidpic" ng-if="sessUser==userId"  onclick="javascript:window.location.href='<?php echo Yii::app()->getBaseUrl(); ?>/user/profile/editprofile#upproimage'">Edit Profile Picture</div>
        </div>
        <h2>{{userDet.fname}} {{userDet.lname}}</h2>
        <div class="user-sub-img"> <img ng-repeat="item in userDet.user_sports | limitTo:9 track by item.id"  src="{{item.imag_name}}" style="float: none;margin-bottom:4px;"  alt="" />
          <div style="clear:both;"></div>
          <a ng-if="sessUser==userId" href="<?php echo yii::app()->getBaseUrl()  ?>/user/profile/editprofile"  class="pliocn" style="color:#f7931e; text-decoration:none; font-weight:bold; float: left; margin: 5px; font-size:24px;">+</a> <a ng-if="sessUser!=userId" href="<?php echo yii::app()->getBaseUrl()  ?>/user/profile/mysports/id/<?php echo $userid  ?>" class="pliocn" style=" color:#f7931e; text-decoration:none; font-weight:bold; float: left; margin: 5px; font-size:22px;">+</a> </div>
      </div>
      <div class="banner-image cngcondiv"><img style="height: 100%; max-width: 100%" src="{{userDet.backImg}}" />
        <div class="changecover cnghidpic" ng-if="sessUser==userId" onclick="javascript:window.location.href='<?php echo Yii::app()->getBaseUrl(); ?>/user/profile/editprofile#upbackimage'">Change Cover</div>
      </div>
      <div class="banner-add">
        <div class="banner1">
          <simple-slider class="gallery1" transition-property="opacity" start-value="0" visible-value="1" end-value="0"> <a ng-repeat="item in bannerslides1 track by item.id" href="javascript:void(0);" ng-click="openBanner(item.banner_url)"><img src="{{baseUrl}}/uploads/advertise_image/thumb/{{item.b_image}}" /></a> </simple-slider>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!--Profile Banner Area[end]-->
    <!--Profile Freiend & stat Area[Start]-->
    <div class="spot-search-contain">
      <div class="search-left">
        <h3 style="margin-right:0px; width:83px;">Friends :</h3>
        <div class="community-div">{{userDet.frnd1}}</div>
        <div class="img-div myParent" ng-repeat="item in frnddet | limitTo:6 track by item.id" ng-mouseenter="showFrndDiv = true" ng-mouseleave="showFrndDiv = false">
          <div style="width: 40px; height: 45px; display: table-cell; text-align: center; vertical-align: middle; cursor: pointer;"><img src="{{item.user_image}}"  alt="#" class="img1" width="32"  /></div>
          <div class="hover_img" ng-show="showFrndDiv" style="height: auto; background: url('../images/hover_div1.png') no-repeat; left:-5px;">
            <ul ng-click="gotoProfile(item.id)" style="cursor: pointer;">
              <li style="width:98px; float: left;  display:block;"> <img src="{{item.user_image}}" style="max-height:110px; max-width:98px;"  alt="#" /> </li>
              <li style="margin-left:0px; width:162px; float: right; display:block;"> <a ui-sref="profile({userId:item.id})" style="width: 100px;">{{item.user_name}}</a>
                <div class="clear"></div>
                <img ng-repeat="item1 in item.sports track by item1.id" src="{{item1.imag_name}}" width="25"  alt="#" /> <a ui-sref="profile({userId:item.id})" style="left:125px;top:97px;display: inline-block; height: 15px;  float: left; color:#F7921D; text-transform:none; font-weight: normal; font-family:Arial, Helvetica, sans-serif; font-size: 10px; text-align: center; padding: 5px; line-height:15px;position: absolute; ">See More</a>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </div>
        <div style="height: 55px; width: 1px; float: left;" data-original-title="">&nbsp;</div>
        <input type="button"  class="see-btn" ng-click="gotofrndList()" value="See More"/>
        <div class="clear"></div>
        <h3>Community :</h3>
        <div class="community-div" ng-if="userDet.frnd > 0">+{{userDet.frnd}}</div>
        <div class="img-div myParent" ng-repeat="item in unfrnddet | limitTo:6 track by item.id"  ng-mouseenter="showunFrndDiv = true" ng-mouseleave="showunFrndDiv = false">
          <div style="width: 40px; height: 45px; display: table-cell; text-align: center; vertical-align: middle;"><img src="{{item.user_image}}"  alt="#" class="img1" width="32"  /></div>
          <div class="hover_img"  ng-show="showunFrndDiv" style="background: url(../images/hover_div1.png) no-repeat; left:-5px;">
            <ul ng-click="gotoProfile(item.id)" style="cursor: pointer;">
              <li style="width:98px; float: left;  display:block;"> <img src="{{item.user_image}}" style="max-height:100%; max-width:100%;"  alt="#" /> </li>
              <li  style="margin-left:0px; width:162px; float: right; display:block;"> <a ui-sref="profile({userId:item.id})" style="width: 100px;">{{item.user_name}}</a>
                <div class="clear"></div>
                <img ng-repeat="item1 in item.sports track by item1.id" src="{{item1.imag_name}}" width="25"  alt="#" /> <a ui-sref="profile({userId:item.id})" style="left:125px;top:97px;position:absolute;display: inline-block; height: 15px;  float: left; color:#F7921D; text-transform:none;font-weight:normal; font-family:Arial, Helvetica, sans-serif; font-size: 10px; text-align: center; padding: 5px; line-height:15px; ">See More</a> <a href="javascript:void(0);" ng-click="addFriend(item)" ng-if="item.frndship_type == 0 && sessUser != 0" style="color:#f7931e;  display:inline-block; position: absolute; right:30px; bottom:40px; "> CONNECT +</a> <a href="javascript:void(0);" ng-click="cancel_request(item)"  ng-if="item.frndship_type == 1 && sessUser != 0" style="color:#f7931e;  display:inline-block; position: absolute; right:30px; bottom:40px; "> Cancel Request</a>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </div>
        <input type="button" class="see-btn2" ng-click="gotoconnList()" value="Connect"/>
      </div>
      <div class="search-right">
        <h4>Stats</h4>
        <simple-slider  class="Stats-slider-contain">
          <!--<div ng-repeat="item in statDet track by item.id" >































						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#DFE2E2 !important;">































							<tr>































								<th  colspan="4">{{item.sport_name}}</th>































							</tr>































































							<tr>































								<td> <div class="strongtext">{{item.total_dis}}</div><div class="spantext">Distance</div></td>































								<td> <div class="strongtext">{{item.total_time}}</div><div class="spantext">Time</div></td>































								<td> <div class="strongtext">{{item.activity_no}}</div><div class="spantext">Activities</div></td>































								<td>  <div class="strongtext">{{item.event_no}}</div><div class="spantext">Events</div></td>































							</tr>































						</table>















                        















                        















                        















                        















                        































					</div>-->
          <ul  ng-repeat="item in statDet track by item.id" >
            <li>
              <div class="strongtext">{{item.sport_name}}</div>
              <div class="spantext">Sport</div>
            </li>
            <li>
              <div class="strongtext">{{item.total_dis}}</div>
              <div class="spantext">Distance</div>
            </li>
            <li>
              <div class="strongtext">{{item.total_time}}</div>
              <div class="spantext">Time</div>
            </li>
            <li>
              <div class="strongtext">{{item.activity_no}}</div>
              <div class="spantext">Activities</div>
            </li>
            <li>
              <div class="strongtext">{{item.event_no}}</div>
              <div class="spantext">Events</div>
            </li>
            <div class="clear"></div>
          </ul>
        </simple-slider>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--Profile Freiend & stat Area[end]-->
    <!--Profile Left Content Area[start]-->
    <div class="experience-leftcontain">
      <div class="status-menu" ng-if="sessUser==userId" style="margin-top:20px!important;">
        <div class="text-box">
          <textarea ng-focus="isStatusInput=1" id="statusText" ng-model="statusText" placeholder="STATUS UPDATE" style="box-shadow:none;"></textarea>
        </div>
        <div class="menu1" id="staus_video" style="cursor: pointer;"> +<br />
          <a href="javascript:void(0)" ng-click="addVideo()" style="color: #fff;">VIDEO</a> </div>
        <div class="menu2" id="staus_photo" style="cursor: pointer;"> +<br />
          <a href="javascript:void(0)" ng-click="addPhoto()"  style="color: #fff;">Photo</a> </div>
        <div class="menu1 mobview" style=" opacity:0.6;"> <a href="javascript:void(0)"  style="color: #fff; display: block;">+<br />
          EVENTS</a> </div>
        <div class="menu2 mobview" style=" opacity:0.9; background:#b29683;"> <a href="javascript:void(0)"  style="color: #fff; display: block;">+<br />
          GROUP</a> </div>
        <div class="clear"></div>
      </div>
      <div class="status-input">
        <div ng-show="isPhoto">
          <div style="padding:10px 10px 0 10px;">
            <input type="button" class="browsebtn browsebtntab" value="Drop files here to upload or click to browse" ngf-drop ngf-select ng-model="statusImage" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
            <br>
            <div class="progress" ng-show="statusImage[0].progress >= 0">
              <div style="width:{{statusImage[0].progress}}%; background:#F69830;" ng-bind="statusImage[0].progress + '%'"></div>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
        <div ng-if="photoval">
          <div style="padding:10px 10px 0 10px;"> <img ng-src="{{photoval == 'images/fileloader.gif' && photoval || baseUrl+'/uploads/status_img/'+photoval}}" /> </div>
        </div>
        <div ng-show="isVideo">
          <div style="padding:15px;">
            <input type="text" placeholder="Type to search YouTube" ng-model="youtubeTxt" id="youtubeTxt" class="searchbox searchboxtab" ng-enter="youtubeSearch()" >
            <br>
            <div  class="btnor mob-search-or2">OR</div>
            <input class="browsebtn browsebtntab" type="button" value="Drop files here to upload or click to browse" ngf-drop ngf-select ng-model="statusVideo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
            <div class="progress" ng-show="statusVideo[0].progress >= 0">
              <div style="width:{{statusVideo[0].progress}}%; background:#F69830;" ng-bind="statusVideo[0].progress + '%'"></div>
            </div>
          </div>
        </div>
        <div ng-if="videoval1">
          <div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper">
            <youtube-video class="embed-responsive-item" video-id="videoval1"></youtube-video>
          </div>
        </div>
        <div ng-if="videoval2"> <img ng-if="videoval2 == 'images/fileloader.gif'" src="{{videoval2}}" />
          <videogular ng-if="videoval2 != 'images/fileloader.gif'" ng-init="vidsources = [{src: (baseUrl+'/uploads/video/converted/'+videoval2), type: 'video/mp4'}]" >
            <vg-media vg-src="vidsources" vg-native-controls="true" ></vg-media>
          </videogular>
        </div>
        <div ng-if="videoval3 == 1 && !videoval2">
          <div style="position: relative;"> <img src="{{baseUrl}}/uploads/video/temp/{{videoTempval}}" /> <a href="http://torqkd.com?redirectvideoplay={{localfilepath}}"><img src="images/playVideo.png" style="position: absolute; width: 20%;  left:40%; top:40%;" /></a> </div>
        </div>
        <div ng-show="isStatusInput">
          <div class="status_content"></div>
          <div class="btngroup" style="padding-bottom:5px;">
            <select id="share_with">
              <option value="1">Community</option>
              <option value="2">Friends</option>
              <!--<option value="3">Only Me</option>-->
            </select>
            <input type="button" ng-show="isRotateBtn" class="rotatebutl" ng-click="imgRotate(1)"  style=" background: url(images/rtal.png) no-repeat !important;   box-shadow: 0 0 2px #888!important;
    display: block;
    float: left !important;
    height: 34px !important;
    width: 114px !important; padding:0!important; border:solid 1px #fff!important; margin:8px 0 0 10px!important;" >
            <input type="button" ng-show="isRotateBtn" class="rotatebutr" ng-click="imgRotate(2)"  style=" background: url(images/rtar.png) no-repeat !important;  box-shadow: 0 0 2px #888!important;
    display: block;
    float: right !important;
    height: 34px !important;
    width: 114px !important; padding:0!important; border:solid 1px #fff!important; margin:8px 10px 0 0!important;" >
    
            <input type="button" value="cancel" ng-click="cancelStatus()" class="newphotobtn" style="  background: #f7931e!important;
    border: 3px solid #fff !important;
    box-shadow: 0 0 2px #888 !important;
    color: #414151 !important;
    display: block;
    float: left !important;
    font-size: 16px !important;
    font-style: normal;
    height: 34px !important;
    margin: 8px 0 0 10px!important;
    padding: 0 !important;
    width: 114px !important;">
            <input group_id="0" type="button" value="POST" ng-click="postStatus()"  class="newphotobtn"  style="background: #f7931e!important;
    border: 3px solid #fff !important;
    box-shadow: 0 0 2px #888 !important;
    color: #414151 !important;
    display: block;
    float: right !important;
    font-size: 16px !important;
    font-style: normal;
    height: 34px !important;
    margin: 8px 10px 0 0!important;
    padding: 0 !important;
    width: 114px !important;">
            <div class="clear"></div>
          </div>
        </div>
        
           <div class="clear"></div>
      </div>
      <div ng-include="'partials/mapcontent.html'" ></div>
      <div ng-include="'partials/social_tab.html'"></div>
    </div>
    <!--Profile Left Content Area[end]-->
    <!--Profile Right Content Area[start]-->
    <div class="experience-rightcontain" style="margin-top:20px;">
      <div class="link1" ng-if="sessUser==userId" style="margin-top:0px;"><a href="javascript:void(0)">MAP YOUR ROUTE</a></div>
      <div class="link2"><a href="javascript:void(0)">VIEW ROUTES</a></div>
      <div class="albums"> <a href="javascript:void(0)"> <img src="images/hs1-0-02.jpg"  alt="#" />
        <h2 style="bottom: 40px" data-original-title=""><span style="margin-left: 0px; width:100%;">ALBUMS</span></h2>
        <div style="background: #000000; width: 100%; padding:13px 0 10px 0;">
          <div class="daily_photo_text" style="position: relative; top: 0px; float: left; margin-left: 10px; background-image: none;"> <a style="font-size: 13px; color:#F7941D; font-family:veneerregular; letter-spacing:4px;" href="javascript:void(0)">PHOTOS & Videos </a> </div>
          <div class="daily_photo_text" style="position: relative; top: 0px; float: right; margin-right: 10px; background-image: none;"> <a style="font-size: 13px; color:#F7941D; font-family:veneerregular; letter-spacing:4px;" href="javascript:void(0)">COMMUNITY</a> </div>
          <div class="clear"></div>
        </div>
        </a> </div>
      <div ng-include="'partials/maintv.html'"></div>
      <div class="link2" style="margin-bottom:0;"><a href="javascript:void(0)">FORUMS</a></div>
      <div class="foroms-contain">
        <div ng-repeat="item in forumList"> <strong><a style="padding-left: 0 !important;" href="javascript:void(0);">{{item.title}}</a></strong><br />
          <span style="padding-left: 30px !important;">{{item.time}} ({{item.reply_no}} Replies)</span><br>
        </div>
      </div>
      <div class="albums albums-btn"> <a  href="javascript:void(0);" onClick="showdailypoll()"> <img alt="" src="{{baseUrl}}/uploads/pollbanner/{{mainbanner}}">
        <h2 data-original-title="">DAILY POLL</h2>
        </a> </div>
      <div ng-include="'partials/chatList.html'"></div>
      <div class="adspace">
        <div class="banner2">
          <simple-slider class="gallery2" transition-property="opacity" start-value="0" visible-value="1" end-value="0"> <a ng-repeat="item in bannerslides2 track by item.id" href="javascript:void(0);" ng-click="openBanner(item.banner_url)"><img src="{{baseUrl}}/uploads/advertise_image/thumb/{{item.b_image}}" /></a> </simple-slider>
        </div>
      </div>
      <div class="adspace">
        <div class="banner3">
          <simple-slider class="gallery3" transition-property="opacity" start-value="0" visible-value="1" end-value="0"> <a ng-repeat="item in bannerslides3 track by item.id" href="javascript:void(0);" ng-click="openBanner(item.banner_url)"><img src="{{baseUrl}}/uploads/advertise_image/thumb/{{item.b_image}}" /></a> </simple-slider>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!--Profile FRight Content Area[end]-->
  </div>
</div>
<script type="text/ng-template" id="youtubeVideo">































	<div class="ngdialog-message">































		<div class="youtubeVideo">































			<div ng-repeat="c in vids">































				<div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >































					<youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>































					<!--<img src="https://i.ytimg.com/vi/{{c.id.videoId}}/mqdefault.jpg" width="100%">































					<img src="images/youtube-playbtn.png" class="paly_video"  ng-click="playYvideo(c.id.videoId)" style="cursor:pointer;">-->































				</div>
































				<h1>{{c.snippet.title}}</h1>































				<a href="javascript:void(0)" ng-click="addYtVideo(c)" class="vidAddBtn">ADD</a>































			</div>































			<div>































			</div>































</script>
